.main {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background-color: #ffffff;
  }
  .img {
    width: 13.3333333333%;
    min-height: 30px;
    /* outline: black solid; */
    margin-left: 18.88888888888%;
    margin-right: 41.11111111%;
  }
  .img img {
    width: 100%;
    height: 100%;
  }
  .log {
    display: flex;
    justify-content: space-between;
    width: 8%;
    /* outline: blueviolet solid; */
  }
 
  .login {
    color: rgba(0, 102, 238, 1);
    font-weight: 600;
    font-size: 1.1111111111111112vw;
    cursor: pointer;
  }
  .vertical {
    margin-left: 5px;
    margin-right: 5px ;
    width: 1px;
    background-color: #999999;
    height: 1.7743979721166032vh;
    align-self: center;
  }
 