.main {
  width: 46.388888888888886vw;
  height: 50.69708491761724vh;
  display: flex;
  /* outline: red solid; */
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(153, 153, 153, 1);
  border-radius: 12px;
  box-shadow: 8px 0px 20px 0px rgba(135, 135, 135, 0.25);
  box-shadow: -8px 0px 20px 0px rgba(135, 135, 135, 0.25);
  box-sizing: border-box;
  padding: 1.6666666666666667vw;
}
.first {
  width: 11.319444444444445vw;
  outline: solid blue;
}
.second {
  width: 15.902777777777779vw;
  outline: red solid;
}
