
.card8main{
    position: absolute;
width: 35.77vw;
height: 65.37vh;
/* margin-left: calc(50% - 488px/2); */
/* margin-top: 7.22vh; */
/* margin-top: 0px; */
margin:7.22vh auto auto auto; 
/* Primary colours/Snow */

background-color: #FFFFFF;
box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25), 8px 0px 20px rgba(135, 135, 135, 0.25);
border-radius: 8px;
/* border: 1px solid blue; */
}


.ques{
    justify-content: center;
align-items: center;

position: absolute;
width: 22.91vw;
height: 7.83vh;
margin-left: 4.98vw;
margin-top: 6.64vh;

}
.email{
    margin-top: 11.63vh;
    margin-left: 4.98vw;
}
.back{
margin-top: 24.93vh;
margin-left: 4.98vw;
}
.next{
    margin-top: 24.93vh;
    margin-left: 1.04vw;
}