
.card1main{
position: absolute;
width: 29.16vw;
height: 82.53vh;
margin-left: calc(50% - 448px/2);
margin-top: 128px;

/* Primary colours/Snow */

background-color: #FFFFFF;
box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25), 8px 0px 20px rgba(135, 135, 135, 0.25);
border-radius: 8px;
border: 1px solid blue;
}

.text{
    position: static;
width: 22.91vw;
height: 14.45vh;
margin-top: 178px;
border: 1px solid blue;
margin-left: 48px;
}
.butt{
    
    position: absolute;
width: 352px;
height: 45px;
margin-left: calc(50% - 352px/2);
margin-top: 51px;

/* Primary colours/Ocean eye */
color: white;
background-color: #0066EE;
border-radius: 4px;
}