.card1main {
  width: 35.77vw;
  height: 75.90vh;
  
  margin:7.22vh auto auto auto;


  background-color: #ffffff;
  box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25),
    8px 0px 20px rgba(135, 135, 135, 0.25);
  border-radius: 8px;
  /* border: 1px solid blue; */
}

.ques {
  position: absolute;
margin-left: 4.98vw;
margin-top: 24.65vh;
  /* margin-top: 24.65vh; */
  /* border: 1px solid blue; */
}
.butt {
  
  margin-top: 45.01vh;
  /* margin-left: 4.98vw; */

  /* Primary colours/Ocean eye */
}
