.card1main {
  position: absolute;
  width: 29.16vw;
  height: 82.53vh;
  margin-left: calc(50% - 448px / 2);
  margin-top: 7.22vh;

  /* Primary colours/Snow */

  background-color: #ffffff;
  box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25),
    8px 0px 20px rgba(135, 135, 135, 0.25);
  border-radius: 8px;
  /* border: 1px solid blue; */
}

.text {
  position: static;
  text-align: center;
  width: 22.91vw;
  height: 14.45vh;
  margin-top: 178px;
  /* border: 1px solid blue; */
}
.butt {
  margin-top: 10.69vh;

  /* Primary colours/Ocean eye */
}
