.title-bar{
    height: 10px;
}

.top-section{
    display: grid;
    margin-left: 20%;
    grid-template-columns: 50% 5% 27%;
}
.title-bar{
    padding-left: 4%;
    color: #ffffff;
    height: 5vw;
    background-color: #003a87;
    display: grid;
    grid-template-columns: 78% 15%;
    font-weight: 600;
    font-size: 20px;
    font-family: Neue Plak;
    font-style: normal;
}
.float-right{
    float: right;
}
.text-from-top{
    padding-top: 3%;
    
}
.data-container{
    display: grid;
    grid-template-columns: 30% 5% 80%;
    padding-top: 2vw;
    color: black;
}
.Calories-details{
    display: grid;
    grid-template-columns: 65% 50% 50%;
}
.goal-details-and-button{
    display: grid;
    grid-template-columns: 30% 45% 30%;
}
.Calories-details-div{
    color: #363636;
    font-family: Neue Plak;
    font-style: normal;
    font-size: 18px;
    margin-bottom: -10px;
}
.Calories-details a{
    font-family: Neue Plak;
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    line-height: 10px;
}
.Calories-goal span{
    color: #85C400;
}
.btn-1{
    background-color: #0066EE;
    border: none;
    font-size: 12px;
    width: 130px;
    height: 40px;
}
.uplode-img{
    /* border: 1px solid rgb(92, 87, 87); */
    background-color: rgb(180, 170, 170);
}
.Net-calories-detils{
    display: grid;
    grid-template-columns: 25% 25% 5% 25% 5% 20%;
    margin-top: 5%;
    margin-left:5%;
    text-align: center;
}
.img-container{
    display: grid;
    grid-template-columns: 50% 5% 27%;
    margin-left: 20%;
}
.write-something{
    height: 15%;
    background-color: #003A87;
    padding-top: 1%;
    padding-left: 2%;
    color: #FFFFFF;
}
.text-area{
    width: 100%;
    height: 40%;
}
.post-button{
    margin-left: 90%;
    margin-top: 2%;
}
.post-button button{
    border: none;
    color: #FFFFFF;
    background-color: #0066EE;
}
.bottom-side{
    margin-top: 10%;
    text-align: center;
}
.bottom-button{
    display: grid;
    grid-template-columns: 40% 10% 1% 10%;
    
    /* background-color: #0066EE; */
}
.bottom-button button{
    background-color: #0066EE;
    border: none;
    color: #FFFFFF;
}
.demo-img{
    margin-left: -20px;
}