.card5main {
  width: 35.77vw;
  height: 71.98vh;

  margin: 7.22vh auto 14.15vh auto;

  background-color: #ffffff;
  box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25),
    8px 0px 20px rgba(135, 135, 135, 0.25);
  border-radius: 8px;
}

.ques5 {
  margin-left: 4.98vw;
  margin-top: 7.22vh;
}

.para5 {
  margin-left: 4.98vw;
  margin-top: 1.38vh;
  /* border: 1px solid blue; */
}
.boxbig {
  margin-left: 4.98vw;
  margin-top: 3.32vh;
}
.boxsmall {
  margin-left: 4.98vw;

  margin-top: 1.1vh;
}

.back5 {
  margin-left: 4.98vw;
  margin-top: 5.81vh;
}

.next5 {
  margin-left: 1.04vw;
  margin-top: 5.81vh;
}
