.main {
  position: relative;
  width: 100vw;
  height: 129.36882129277566vh;
  /* outline: solid red thin; */
}
.img {
  width: 100%;
  height: 100%;
}
.absolute {
  position: absolute;
  left: 17%;
  top: 50px;
  width: 31.11111111111111vw;
  height: 26.869455006337137vh;
  /* outline: solid gold; */
  font-family: "NeueEB";
  font-weight: 950;
  font-size: 4.444444444444445vw;
  line-height: 8.111533586818759vh;
  color: #222628;
  vertical-align: center;
}
.info {
  width: 25vw;
  height: 8.365019011406844vh;
  /* outline: solid brown; */
  position: absolute;
  left: 17%;
  top: 290px;
  font-weight: 600;
  font-size: 1.1111111111111112vw;
  font-family: "NeueSB";
  color: #363636;
  line-height: 2.788339670468948vh;
  vertical-align: center;
  fill: #363636;
}
.button {
  display: flex;
  position: absolute;
  width: 20.27777777777778vw;
  height: 5.32319391634981vh;
  /* outline: solid greenyellow; */
  left: 17%;
  top: 420px;
  background-color: #0066ee;
  border-radius: 5px;
  padding: 12px;
  color: #ffffff;
  font-family: "NeueSB";
  font-size: 1.1111111111111112vw;
  line-height: 2.788339670468948vh;
  font-weight: 600;
  vertical-align: center;
  justify-content: center;
  cursor: pointer;
}
.cont {
  display: flex;
  align-items: center;
  position: absolute;
  width: 20.27777777777778vw;
  height: 5.32319391634981vh;
  left: 18%;
  top: 480px;
  /* outline: purple solid; */
}
.al {
  width: 13.2vw;
  height: 2.788339670468948vh;
  /* outline: hotpink solid; */
  margin-right: 5px;
  font-size: 1.1111111111111112vw;
  font-family: "NeueSB";
  line-height: 2.788339670468948vh;
  font-weight: 560;
  vertical-align: center;
}
.login {
  width: 2.5694444444444446vw;
  height: 2.788339670468948vh;
  /* outline: solid yellow; */
  color: #0066ee;
  font-family: "NeueSB";
  font-size: 1.1111111111111112vw;
  vertical-align: center;
  font-weight: 600;
  cursor: pointer;
  line-height: 2.788339670468948vh;
}
