.navmain {
  position: relative;
  /* width: 93.75vw;
    height: 11.08vh;
    margin-left: calc(50% - 1440px/2); */
  width: 100%;
  height: 11.08vh;
  /* border: 1px solid blue; */
  background-color: #ffffff;
}

.logodiv {
  position: absolute;
  width: 13.02vw;
  height: 6.72vh;
  padding: 1px;
  /* border: 1px solid blue; */
  margin-left: 17.05vw;
  margin-top: 15px;
}
