
.container{
    height: 784px;
    width: 896px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 71px;
    margin-left: 262px;
}
.main{
display: flex;
flex-direction: column;
    width: 604px;
    height: 534px;
    
    
}
.main1{
    
    width: 604px;
    height: 66px;
}

.main2{
    display: flex;
    flex-direction: row;
    
    width: 604px;
    height: 152px;
    margin-top: 20px;
}
.photobox{
    width: 158px;
    height: 152px;
    background-color: rgba(34, 38, 40, 0.2);
    
   
}
.secbox_main{
    margin-left: 32px;
    width: 414px;
    height: 66px;
}
.secbox1{
    display: flex;
    width: 390px;
    height: 63px;
}
.head1{
    width: 191px;
    height: 66px;
    
}
.secbox2{
    display: flex;
    margin-top: 20px;
}
.butt{
    margin-left:34px;
    display: flex;
}
.text_goal{
    font-family: "NeueSB";
    color: #999999;
}
.main3{
    
    margin-left: 22px;
    margin-top: 20px;
}
.back,.next{
    width: 136px;
    height: 46px;
    padding: 5px;
    background-color: #005bd4;
    font-family: "NeueSB";
    color: white;
}
.next{
    margin-left: 20px;
}
.back:hover,.next:hover {
    background-color: #005bd4;
    border: 1px solid #005bd4;
    color: white;
  }
  .back:focus,.next:hover {
    outline: 1px solid #005bd4;
  }

  .main4{
      margin-top: 50px;
  }
  .email{
      margin-left: 78px;
      display: flex;
      gap: 20px;
  }
  .main5{
      margin-top: 15px;
  }

  .main_right{
      display: flex;
      flex-direction: column;
  }