
.card9main{
width: 35.77vw;
height: 91.41vh;
/* margin-left: calc(50% - 488px/2); */

/* margin-top: 0px; */
/* Primary colours/Snow */
 margin:7.22vh auto auto auto; 
background-color: #FFFFFF;
box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25), 8px 0px 20px rgba(135, 135, 135, 0.25);
border-radius: 8px;
/* border: 1px solid blue; */
}


.ques{
    justify-content: center;
text-align: center;
margin-top: 48px;

}
.body{
    margin-top:8px;
    text-align: center;
    justify-content: center;
}
.ques2{
justify-content: center;
text-align: center;
}

.sticker{
    margin-top: 8px;
    justify-content: center;
text-align: center;
padding: auto;
width: 78px;
height: 30px;
margin-left: calc(50% - 78px/2);
font-family: "NeueSB";
/* CHARCOAL 10 */
color: #0066EE;
background-color: rgba(34, 38, 40, 0.1);
border-radius: 4px;
border: none;
}
.info{
    margin-top: 52px;
    text-align: center;
    justify-content: center;
}
.gain{
    font-family: "NeueB";
    font-style: normal;
    font-weight: 900;
    font-size: 1.7569546120058566vw;
    color: #363636;
}
.line{
    position: absolute;
width: 22.91vw;
height: 0px;
margin-left: 5.98vw;
margin-top: 38px;
border: 1px solid rgba(34, 38, 40, 0.2);
}
.check{
   
    margin-left: 5.48vw;
    margin-top: 9.97vh;
}
.input{
    width: 16px;
  height:16px;
}
.span{
    font-family: "NeueSB";
    font-size: 20px;
    margin-left: 4px;
}
.body{
 margin-left: 4.98vw;
 font-family: "NeueT";
 /* font-family: Neue Plak; */
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
width: 22.65vw;
height: 4.43vh;
margin-top: 0px;
}
.cont{
    margin-left: 5.48vw;
    margin-top: 4.70vh;
}