.main {
  width: 100%;
  height: 100%;
}
.card9main {
  width: 35.77vw;
  height: 85.87vh;
  margin: 0vh auto auto auto;
  background-color: #ffffff;
  border-radius: 8px;
  /* border: 1px solid blue; */
}

.ques {
  justify-content: center;
  text-align: center;
  margin-top: 5.57vh;
  color: #0066ee;
}
.backgro {
  background-color: #0066ee;
}
.crown {
  margin-top: 26.05vh;
  margin-left: 12.08vw;
}
.body {
  margin-left: 5.98vw;

  margin-top: 5.42vh;
}
.cont {
  margin-left: 5.48vw;
  margin-top: 4.7vh;
}
.white {
  background-color: #ffffff;
}
