.card7main {
  width: 35.77vw;
  height: 99.86vh;
  /* margin-left: calc(50% - 488px/2); */
  /* margin-top: 7.22vh; */
  margin: 7.22vh auto auto auto;
  /* Primary colours/Snow */
}
.card7main {
  width: 35.77vw;
  height: 104.86vh;
  /* margin-left: calc(50% - 488px/2); */
  /* margin-top: 7.22vh; */
  margin: 7.22vh auto 34.63vh auto;
  /* Primary colours/Snow */

  background-color: #ffffff;
  box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25),
    8px 0px 20px rgba(135, 135, 135, 0.25);
  border-radius: 8px;
  /* border: 1px solid blue; */
}

.ques {
  justify-content: center;
  align-items: center;
  padding: 10px;

  position: absolute;
  width: 22.91vw;
  height: 7.83vh;
  margin-left: 4.98vw;
  margin-top: 48px;
}
.email {
  margin-top: 21.05vh;
  margin-left: 4.98vw;
}
.pass {
  margin-top: 1.1vh;
  margin-left: 4.98vw;
}
.body {
  margin-left: 6.34vw;
}
.check {
  font-family: "NeueL";
  margin-left: 4.98vw;
  margin-top: 65px;
}
.input {
  width: 14px;
  height: 14px;
}

.span_main {
  margin-left: 0.52vw;
}
.span {
  color: #0066ee;
}
.cont {
  margin-left: 4.98vw;
  margin-top: 12px;
}
.span2 {
  margin-top: 4px;
  margin-left: 4.68vw;
  font-family: "NeueL";
}
.facebook {
  margin-left: 4.98vw;
  margin-top: 51.5px;
  font-family: "NeueSB";
}
.last_span {
  margin-top: 24px;
  font-family: "NeueL";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-align: center;
}
