.card2main {
  width: 35.77vw;
  height: 68.22vh;
 
  margin:7.22vh auto auto auto;
  /* Primary colours/Snow */
  
  background-color: #ffffff;
  box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25),
    8px 0px 20px rgba(135, 135, 135, 0.25);
  border-radius: 8px;
  /* border: 1px solid blue; */
}



.ques {
  justify-content: center;
  align-items: center;
  padding: 10px;

  position: absolute;
  width: 22.91vw;
  height: 7.83vh;
  margin-left: 4.98vw;
  margin-top: 48px;
}

.option1 {
  margin-left: 4.98vw;
  margin-top: 21.68vh;
}


.option2,.option3 {
  margin-left: 4.98vw;
  margin-top: 0.55vh;
}


.back {
 
  margin-left: 4.98vw;
  margin-top: 4.70vh;
 
}

.next {
 
  margin-left: 1.04vw;
  margin-top: 4.70vh;
}

