
.card2main{
    position: absolute;
width: 31.77vw;
height: 68.22vh;
margin-left: calc(50% - 488px/2);
margin-top: 7.22vh;

/* Primary colours/Snow */

background-color: #FFFFFF;
box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25), 8px 0px 20px rgba(135, 135, 135, 0.25);
border-radius: 8px;
border: 1px solid blue;
}

.rect{
    width: 61px;
    height: 8px;
    position: absolute;
margin-left: 0%;
margin-right: 87.5%;
margin-top: 0%;
margin-bottom: 0%;

/* Primary colours/Ocean eye */

background-color: #0066EE;
border-radius: 8px 0px 0px 0px;
}

.ques{
    justify-content: center;
align-items: center;
padding: 10px;

position: absolute;
width: 22.91vw;
height: 7.83vh;
margin-left: 4.42vw;
margin-top: 48px;
border: 1px solid blue;
}
/* .optionbox{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
 
} */
.option1,.option2,.option3{
    justify-content: center;
align-items: center;
padding: 16px;

position: absolute;
width: 22.91vw;
height: 8.13vh;

margin-left: 4.42vw;
margin-top: 21.68vh;

/* Primary colours/Snow */

background-color: #FFFFFF;
/* CHARCOAL 40 */

border: 1px solid rgba(34, 38, 40, 0.4);
box-sizing: border-box;
border-radius: 4px;
}
.option2{
    margin-top: 30.42vh;
}
.option3{
    margin-top: 39.15vh;
}

.back{
justify-content: center;
align-items: center;
padding: 10px;

position: absolute;
width: 10.93vw;
height: 6.77vh;
margin-left: 4.42vw;
margin-top: 54.21vh;
background-color: #FFFFFF;
/* Primary colours/Ocean eye */
color:#0066EE;
border: 1px solid #0066EE;
box-sizing: border-box;
border-radius: 4px;
}

.next{
  
justify-content: center;
align-items: center;
padding: 10px;

position: absolute;
width: 10.93vw;
height: 6.77vh;
margin-left: 16.40vw;
margin-top: 54.21vh;

/* Primary colours/Ocean eye */
color: #FFFFFF;
background-color: #0066EE;
border-radius: 4px;
}