.main {
  height: 6.844106463878327vh;
  width: 100vw;
  background-color: #0066ee;
}
.ins {
  font-family: "NeueSB";
  width: 60%;
  height: 100%;
  /* outline: black solid; */
  margin-left: 10%;
  display: flex;
  font-size: 1.1111111111111112vw;
  font-weight: 600;
  color: #ffffff;
  align-items: center;
  justify-content: space-around;
  line-height: 2.788339670468948vh;
}
