
.card4main{
    position: absolute;
    width: 488px;
    height: 763px;
    margin-left: calc(50% - 488px/2);
    margin-top: 7.22vh;
    
    /* Primary colours/Snow */
    
    background-color: #FFFFFF;
    /* Login cards shadow */
    
    box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25), 8px 0px 20px rgba(135, 135, 135, 0.25);
    border-radius: 8px;
border: 1px solid blue;
}

.rect3{
    width: 183px;
    height: 8px;
    position: absolute;
    left: 0%;
    right: 62.5%;
    top: 0%;
    bottom: 0%;
    
    /* Primary colours/Ocean eye */
    
    background-color: #0066EE;
    border-radius: 8px 0px 0px 0px;
}

.ques2{
    position: static;
    width: 22.91vw;
    height: 15.66vh;
 margin-left:4.42vw;
 margin-top: 10.24vh;
border: 1px solid blue;
}
.male{
    position: absolute;
width: 5.33vw;
height: 2.71vh;
margin-left: 4.42vw;
margin-top: 2.40vh;

}
.female{
    position: absolute;
width: 5.33vw;
height: 2.71vh;
margin-left: 10.67vw;
margin-top: 2.40vh;

}
.hint{
    margin-left: 4.36vw;
    margin-top: 7.53vh;
    font-size: 14px;
    color: blue;
}
.hintdetail{
    display: inline;
    margin-left: 6px;
    font-size: 13px;
    color: blue;
}
.born,.live{
    position: absolute;
width: 22.91vw;
height: 6.02vh;
margin-left: 4.42vw;
margin-top: 5.52vh;
border: 1px solid blue;
}
.live{
    margin-top: 26.20vh;
}
.date,.country,.zipcode{
    position: absolute;
width: 10.93vw;
height: 8.13vh;
margin-left: 4.42vw;
margin-top: 12.80vh;

/* Primary colours/Snow */

background-color: #FFFFFF;
/* CHARCOAL 40 */

border: 1px solid rgba(34, 38, 40, 0.4);
box-sizing: border-box;
border-radius: 4px;
}
.country{
    margin-top: 34.63vh;
}
.zipcode{
    margin-top: 34.63vh;
    margin-left: 16.40vw;
}
/* .optionbox{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
 
} */
.descrip{
    position: absolute;
    width: 22.39vw;
    height: 6.62vh;
    margin-left: 4.42vw;
    margin-top: 44.57vh;
    border: 1px solid blue;
}

.back2{
justify-content: center;
align-items: center;
padding: 10px;

position: absolute;
width: 10.93vw;
height: 6.77vh;
margin-left: 4.42vw;
margin-top: 57.22vh;
background-color: #FFFFFF;
/* Primary colours/Ocean eye */
color:#0066EE;
border: 1px solid #0066EE;
box-sizing: border-box;
border-radius: 4px;
}

.next2{
  
justify-content: center;
align-items: center;
padding: 10px;

position: absolute;
width: 10.93vw;
height: 6.77vh;
margin-left: 16.40vw;
margin-top: 57.22vh;

/* Primary colours/Ocean eye */
color: #FFFFFF;
background-color: #0066EE;
border-radius: 4px;
}