.card4main {
  width: 35.77vw;
  height: 105.67vh;
  margin: 7.22vh auto auto auto;

  background-color: #ffffff;


  box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25),
    8px 0px 20px rgba(135, 135, 135, 0.25);
  border-radius: 8px;
  /* border: 1px solid blue; */
}


.ques2 {
  margin-left: 4.98vw;
  margin-top: 10.24vh;
  /* border: 1px solid blue; */
}
.male_div{
  margin-top: 2.4vh;
  display: flex;
}
.male {
  width: 5.33vw;
  height: 2.71vh;
  margin-left: 4.98vw;

}
.female {
  width: 5.33vw;
  height: 2.71vh;
  margin-left: 0.91vw;
}
.hint {
  margin-left: 4.98vw;
  margin-top: 2.91vh;
  font-size: 14px;
  color: blue;
}
.hintdetail {
  display: inline;
  margin-left: 0.390vw;
  font-family: "NeueL";
  color: blue;
}
.born,
.live {

  margin-left: 4.98vw;
  margin-top: 5.52vh;
  /* border: 1px solid blue; */
}
.live {
  margin-top: 4.70vh;
}
.date,
.country,
.zipcode {
  width: 10.93vw;
  height: 8.13vh;
  margin-left: 4.98vw;
  margin-top: 1.66vh;

  /* Primary colours/Snow */

  background-color: #ffffff;
  /* CHARCOAL 40 */

  border: 1px solid rgba(34, 38, 40, 0.4);
  box-sizing: border-box;
  border-radius: 4px;
}
.country {
  margin-top: 1.66vh;
}
.zipcode {
  margin-top: 1.66vh;
  margin-left: 1.10vw;
}

.descrip {
  margin-left: 4.98vw;
  margin-top: 0.78vh;

  /* border: 1px solid blue; */
}

.back4 {
 
  margin-left: 4.98vw;
  margin-top: 3.20vh;

}

.next4 {
 
  margin-left: 1.04vw;
  margin-top: 3.20vh;

 
}

