.img {
  width: 31.145833333333332vw;
  height: 34.98098859315589vh;
  /* outline: solid goldenrod; */
  margin: auto;
}
.img img {
  width: 100%;
  height: 100%;
}
.text {
  width: 30.069444444444443vw;
  height: 13.114754098360656vh;
  margin: 100px auto;
}
.text img {
  width: 100%;
  height: 100%;
}
.body {
  width: 40.55555555555556vw;
  height: 9.01639344262295vh;
  margin: 40px auto;
}
.body img {
  width: 100%;
  height: 100%;
}
