.card3main {
  width: 35.77vw;
  height: 114.9vh;
  /* margin-left: calc(50% - 488px / 2); */
  /* margin-top: 7.22vh; */
  /* margin-top: 7.22vh; */
  /* Primary colours/Snow */
  margin: 7.22vh auto auto auto;
  background-color: #ffffff;
  /* Login cards shadow */

  box-shadow: -8px 0px 20px rgba(135, 135, 135, 0.25),
    8px 0px 20px rgba(135, 135, 135, 0.25);
  border-radius: 8px;
  /* border: 1px solid blue; */
}

.ques1 {
  margin-left: 4.98vw;
  margin-top: 10.24vh;
  /* border: 1px solid blue; */
}
.para1 {
  margin-left: 4.98vw;
  margin-top: 4px;
  /* border: 1px solid blue; */
}

.box1 {
  margin-left: 4.98vw;
  margin-top: 5.42vh;
}
.body1 {
  margin-bottom: 0px;
  margin-top: 2px;
  margin-left: 8px;
}
.box2 {
  margin-top: 1.1vh;
}

.back3 {
  margin-left: 4.98vw;
  margin-top: 6.92vh;
}

.next3 {
  margin-left: 1.04vw;
  margin-top: 6.92vh;
}
